@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>电商后台订单（视图）管理管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="condition" name="名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="FcOrder.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="FcOrderTableToolbar" role="group">
                            @if(shiro.hasPermission("/fcOrder/add")){
                                <#button name="添加" icon="fa-plus" clickFun="FcOrder.openAddFcOrder()"/>
                            @}
                            @if(shiro.hasPermission("/fcOrder/update")){
                                <#button name="修改" icon="fa-edit" clickFun="FcOrder.openFcOrderDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/fcOrder/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="FcOrder.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="FcOrderTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/fcOrder/fcOrder/fcOrder.js"></script>
@}
