@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="exOrderId" name="异常订单id" underline="true"/>
                            <#input id="sysDeptId" name="审核部门id" underline="true"/>
                            <#input id="sysUserId" name="审核人id" underline="true"/>
                            <#input id="opinion" name="审核意见"/>
                </div>

                <div class="col-sm-6">
                            <#input id="operateTime" name="操作时间" underline="true"/>
                            <#input id="operator" name="创建人" underline="true"/>
                            <#input id="createtime" name="创建时间" underline="true"/>
                            <#input id="examState" name="审核状态（1未审核，2已审核）" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExOrderExamInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExOrderExamInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/exOrderExam/exOrderExam/exOrderExam_info.js"></script>
@}
