@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" value="${item.id}" underline="true"/>
                            <#input id="exOrderId" name="异常订单id" value="${item.exOrderId}" underline="true"/>
                            <#input id="payer" name="交款人" value="${item.payer}" underline="true"/>
                            <#input id="payee" name="收款人" value="${item.payee}" underline="true"/>
                            <#input id="payTime" name="收款时间" value="${item.payTime}" />
                </div>

                <div class="col-sm-6">
                            <#input id="payerId" name="交款人id" value="${item.payerId}" underline="true"/>
                            <#input id="amount" name="额度" value="${item.amount}" underline="true"/>
                            <#input id="payType" name="pay_type" value="${item.payType}" underline="true"/>
                            <#input id="createtime" name="创建时间" value="${item.createtime}" underline="true"/>
                            <#input id="operator" name="创建人" value="${item.operator}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ExOrderPayInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ExOrderPayInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/exOrderPay/exOrderPay/exOrderPay_info.js"></script>
@}
