﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>某同城微招聘</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>

<link rel="stylesheet" href=" /static/css/wang_swiper.min.css">
<link rel="stylesheet" href="/static/css/wang_animate.min.css">
<script src="/static/js/wang_swiper.min.js"></script>
<script src="/static/js/wang_swiper.animate.min.js"></script>

<link rel="stylesheet" href="/static/css/wang_styleh5.css">
</head>

<body>
<div class="swiper-container" id="swiper-container-v">

<section class="poster_wrap load" id="load">
	  <div class="p_loading">
	    <div class="p_loading_logo"></div>
	    <p class="p_loading_tip">新生活，从新工作开始</p>
	  </div>
	</section>
    

    <div class="swiper-wrapper">
    <!-------------slide1----------------->
        <section class="swiper-slide swiper-slide1 swiper-slide-v" >
        <div class="index-top ani" swiper-animate-effect="myZoomIn1" swiper-animate-duration="0.6s" swiper-animate-delay="0s">
<div class="logo">
<div class="box1"><div class="box2">
   <img src="/static/picture/wzp_logo.png"   > 
   </div></div>
</div>
<h2 class="poster_tit">津小超供应链管理有限公司</h2>
<p class="poster_details">新生活，从新工作开始</p>

</div>

<div class="building ani"  swiper-animate-effect="myZoomIn2" swiper-animate-duration="0.6s" swiper-animate-delay="0s"></div>

        </section>
     <!---------------slide2-------------->   
        <section class="swiper-slide swiper-slide2 swiper-slide-v">


<ul class="company_intro">
    <li class="intro1 ani"   swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0s">
          <div class="icon"><i></i></div>
      <p>天津</p>
    </li>
    <li class="intro2 ani"   swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.1s">
          <div class="icon"><i></i></div>
      <p>50-100人</p>
    </li>
    <li class="intro3 ani"   swiper-animate-effect="myFlip" swiper-animate-duration="0.3s" swiper-animate-delay="0.2s">
          <div class="icon"><i></i></div>
      <p>私营</p>
    </li>
  </ul>
  
  
  <h3 class="about_us_tit ani"    swiper-animate-effect="fadeInRight" swiper-animate-duration="0.3s" swiper-animate-delay="0.3s"><i class="about_us_tit_ico"></i>认识我们</h3>
  <div class="about_us_msg_p ani" swiper-animate-effect="fadeIn" swiper-animate-duration="0.3s" swiper-animate-delay="0.5s">
  	天津市津小超供应链管理有限公司，是天津首批获得行业内认可的公司。注册资本金1500万元，依托500强企业，坐落在南开区光电创业园，成立于2017年。

		津小超是天津地区专业零售终端服务及社区B2B电子商务服务领导品牌，是一家以社区综合运营服务为核心的企业，也是天津地区互联网+实体和产业升级的代表性品牌。
		
		公司以物流、商流、资金流、信息流四流合一为载体，构建系统的采购中心和产品整合供应链项目，并建立了以此为核心的一键型供应链业务平台，为客户提供全面到位的系列服务。
		
		我们致力于行业变革，推动渠道扁平化。在提升供应链效率、降低成本的基础上，进一步充分挖掘社区实体店的资源优势，帮助其插上互联网的翅膀，拓展服务范围，增加盈利能力及市场竞争力。
		
		津小超为客户提供省心省力，省时省事的一站式服务；为员工提供更宽更广，更稳更远的发展平台。
		
		我们始终相信“能力更重要”，信奉“唯才是用”。我们维护员工的权益，提供具有市场竞争力的薪酬和正规福利，认真规划员工的未来。 
		
		欢迎怀揣理想与热情的人才加入我们，成为团队的一员，与津小超携手共进、更上一层楼。
</div>
        
        </section>
     <!----------------slide3-------------->
        <section class="swiper-slide swiper-slide3 swiper-slide-v">
        
<h1 class="abus_head"><i class="about_us_tit_ico"></i>我们的福利</h1>



<div class="welf_bg">
    <div class="one ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0s"><span>员工活动</span></div>
    <div class="two ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.1s"><span>发展前景好</span></div>
    <div class="thr ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>福利待遇好</span></div>
    <div class="thi ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.2s"><span>活力热情的团队氛围</span></div>
    <div class="fiv ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>晋升空间大</span></div>
    <div class="six ani" style="transition-timing-function:linear;" swiper-animate-effect="myrotateIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s"><span>提供培训</span></div>
  </div>







        
        </section>
        <!-------------slide4----------------->
        <section class="swiper-slide swiper-slide4 swiper-slide-v">
<h1 class="posit_tit"><i class="about_us_tit_ico"></i>我们招聘的职位</h1>
<div class="swiper-container ani" id="swiper-container-h" swiper-animate-effect="rotateInUpLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0s">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide1">
    <div class="posit_details_head">
            <h3 class="posit_details_tit">快消品仓库出入库管理员/库管</h3>
            <span class="posit_details_money"><strong>面议</strong></span>
          </div>
    <div class="job_details">
            <p class="job_address">工作地点：南开区罗平道雅安光电创业园</p>
            <div class="job_msg">
          	    任职要求：<br>
          	    1、男性，身体健康，40岁以下，有快消品仓库管理经验者优先录取；<br>
								2、踏实肯干，耐心细致，有责任心有吃苦耐劳精神；<br>
								3、会开车，C1驾照者优先录取；<br>
								4、退伍军人，共产党员，应届毕业生优先录取；<br>
                5、可接受实习生和培训生<br>
            </div> 
            <div class="job_msg">
            	任职资格：<br>
            	1.入库清点、按库位入库；<br>
							2.出库拣货、按清单确保货物与订单一致；<br>
							3、确认、打印销售、出库订单；<br>
							4、整理货位、关注货物日期，保证先入先出，临期商品预警。
					 </div> 		
          </div> 
          <div class="posit_arrow_bot"></div>     
    </div>
    <div class="swiper-slide slide2">
          <div class="posit_details_head">
            <h3 class="posit_details_tit">便利店店员</h3>
            <span class="posit_details_money"><strong>面议</strong></span>
          </div>
          <div class="job_details">
            <p class="job_address">工作地点：南开区罗平道雅安光电创业园</p>
             <div class="job_msg">
          	    任职要求：<br>
          	    1、年龄20~45岁，懂简单操作电脑； <br>
								2、熟悉便利店运营，一年以上快消品行业店面经验优先录取； <br>
								3、性格开朗，工作细致认真，有责任心，有良好的职业操守；<br>
								4、可接受实习生和培训生。
            </div> 
            <div class="job_msg">
            	任职资格：<br>
            	1、负责门店日常顾客接待，收银，开票等工作；<br>
							2、负责店铺商品的美观陈列、保证商品陈列丰满、临期食品检查、盘点；<br>
							3、负责商品的交接、清点，确保准确入仓；<br>
							4、负责所辖区域的卫生清洁，引导顾客遵守店铺公共秩序；<br>
							5、宣传促销活动，促进销售业绩；<br>
					 </div> 		
          </div>
          <div class="posit_arrow_bot"></div>
        </div>
    <div class="swiper-slide slide3">
          <div class="posit_details_head">
            <h3 class="posit_details_tit">司机</h3>
            <span class="posit_details_money"><strong>面议</strong></span>
          </div>
          <div class="job_details">
            <p class="job_address">工作地点：南开区罗平道雅安光电创业园</p>
           <div class="job_msg">
          	    任职要求：<br>
          	    1、男性，身体健康，40岁以下，有经验者优先录取；<br>
								2、踏实肯干，耐心细致，有责任心有吃苦耐劳精神；<br>
								3、驾龄5年以上，C1驾照；<br>
								4、退伍军人，共产党员优先录取。
            </div> 
            <div class="job_msg">
            	任职资格：<br>
            	1、送货、发货、提货；<br>
							2、车辆状况检查；<br>
							3、车检及车辆基本清洁；<br>
							4、协助库管对装车货物的检查盘点。<br>
					 </div> 		
          </div>
          <div class="posit_arrow_bot"></div>
    </div>
      <div class="swiper-slide slide4">
          <div class="posit_details_head">
            <h3 class="posit_details_tit">运营前端</h3>
            <span class="posit_details_money"><strong>面议</strong></span>
          </div>
          <div class="job_details">
            <p class="job_address">工作地点：南开区罗平道雅安光电创业园</p>
           <div class="job_msg">
          	   任职要求：<br>
          	  1、良好的网络技术、排版技术能力；<br>
							2、对网络推广良好的见解及较强的执行能力；<br>
							3、熟悉网络知识，能够利用一切资源进行产品网络推广及网络行销；<br>
							4、工作细致认真，有责任心，有团队合作精神；<br>
							5、性格开朗、上进心强，具备团队协作精神。<br>
            </div> 
            <div class="job_msg">
            	任职资格：<br>
            	1、负责公司官网、微信公众号、微博等媒体内容的撰写、编辑、更新与维护；<br>
							2、负责公司简介、宣传册、PPT等宣传资料的撰写、编辑；产品卖点的挖掘整理，撰写营销软文；<br>
							5、优化百度排名，提出良好的竞价建议；<br>
							6、对线上活动合理化建议，H5页面制作；<br>
					 </div> 		
          </div>
          <div class="posit_arrow_bot"></div>
       </div>
  </div>
</div>
<div class="job_btn_con ani" swiper-animate-effect="slideInRight" swiper-animate-duration="0.1s" swiper-animate-delay="0.5s">
  				    <div class="job_btn_list">
		      <a href="/recruit/add" class="job_btn add" >投个简历</a>
		    </div>
	    	      </div>

        </section>
    </div>
<div class="arrow-box">
   <img src="/static/picture/arrow.png" id="array"> 
   </div>    
  <div class="swiper-pagination"></div>  
</div>

<script src="/static/js/wang_code.min.js"></script>
<!--切换效果采用Swiper，更多Swiper应用敬请关注Swiper中文网-->
</body>
</html>
