@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键" underline="true"/>
                            <#input id="oId" name="主订单ID" underline="true"/>
                            <#input id="pName" name="品名" underline="true"/>
                            <#input id="barCode" name="原厂件号" underline="true"/>
                            <#input id="library" name="" underline="true"/>
                            <#input id="num" name="数量" underline="true"/>
                            <#input id="unit" name="默认单位" underline="true"/>
                            <#input id="unitE" name="换算数量"/>
                </div>

                <div class="col-sm-6">
                            <#input id="sPrice" name="销售单价" underline="true"/>
                            <#input id="nPrice" name="" underline="true"/>
                            <#input id="dPrice" name="折扣前单价" underline="true"/>
                            <#input id="money" name="总金额" underline="true"/>
                            <#input id="spec" name="规格" underline="true"/>
                            <#input id="brands" name="品牌" underline="true"/>
                            <#input id="madeIn" name="产地" underline="true"/>
                            <#input id="remark" name="备注" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ErpOrderItemInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ErpOrderItemInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/erpOrderItem/erpOrderItem/erpOrderItem_info.js"></script>
@}
