<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.ExOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.ExOrderItem">
        <id column="id" property="id" />
        <result column="ex_order_id" property="exOrderId" />
        <result column="order_item_id" property="orderItemId" />
        <result column="return_number" property="returnNumber" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ex_order_id, order_item_id, return_number
    </sql>

</mapper>
